@import url("https://rsms.me/inter/inter.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 9, 9, 11;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

.markdown {
  justify-content: left;
}
.markdown h1 {
  font-size: 2em;
}
.markdown h2 {
  font-size: 1.75em;
}

.markdown h1, .markdown h2 {
  margin-block: 0.5em;
}

.markdown ul , .markdown li {
  list-style: initial;
  padding: initial;
  margin: initial;
}

.markdown ul {
  margin-left: 2.5rem;
}

.markdown * img, .markdown img {
  width: 60%;
  margin-block: 2rem;
  margin-inline: 20%;
  aspect-ratio: initial;
  object-fit: contain;
  object-position: center;
}
