@import url("https://rsms.me/inter/inter.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 9, 9, 11;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

.markdown {
  justify-content: left;
}
.markdown h1 {
  font-size: 2em;
}

.markdown h2 {
  font-size: 1.75em;
}
.markdown h3 {
  font-size: 1.5em;
}
.markdown h4 {
  font-size: 1.25em;
}
.markdown h5 {
  font-size: 1.125em;
}

.markdown h6 {
  font-size: 1em;
}


.markdown h1, .markdown h2 , .markdown h3 , .markdown h4 , .markdown h5 , .markdown h6 {
  line-height: 2.25rem;
  margin-block: 0.5em;
  display: inline-block;
}

.markdown ul , .markdown li {
  list-style: initial;
  padding: initial;
  margin: initial;
}

.markdown ul {
  margin-left: 2.5rem;
}

.markdown p:has(img) {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  align-items: stretch;
    justify-content: space-evenly;
    gap: 1rem;
    padding: 1rem;
}

.markdown p img {
  object-fit: cover;
}

.markdown pre {
      overflow-x: auto;
      white-space: pre-wrap;
      white-space: -moz-pre-wrap;
      white-space: -o-pre-wrap;
      word-wrap: break-word;
}

