@import url("https://rsms.me/inter/inter.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 9, 9, 11;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

.markdown {
  justify-content: left;
}
.markdown h1 {
  font-size: 2em;
}

.markdown h2 {
  font-size: 1.75em;
}
.markdown h3 {
  font-size: 1.5em;
}
.markdown h4 {
  font-size: 1.25em;
}
.markdown h5 {
  font-size: 1.125em;
}

.markdown h6 {
  font-size: 1em;
}


.markdown h1, .markdown h2 , .markdown h3 , .markdown h4 , .markdown h5 , .markdown h6 {
  line-height: 2.25rem;
  margin-block: 0.5em;
  display: inline-block;
}

.markdown ul , .markdown li {
  list-style: initial;
  padding: initial;
  margin: initial;
}

.markdown ul {
  margin-left: 2.5rem;
}

.markdown p:has(img:nth-of-type(2)) {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  align-items: stretch;
    justify-content: space-evenly;
    gap: 1rem;
    padding: 1rem;


}

.markdown p:has(img:nth-of-type(2)) img {
  height: 12em;
}

.markdown p img {
  object-fit: cover;
}

img.gallery-image {
  background-image: url("/image.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30%;
  /* animation: skeleton-loading 1s linear infinite alternate; */
}



.markdown pre {
      overflow-x: auto;
      white-space: pre-wrap;
      white-space: -moz-pre-wrap;
      white-space: -o-pre-wrap;
      word-wrap: break-word;
}

@keyframes skeleton-loading {

  0% {
    background-color: rgb(0 0 0 / 0.2);
  }
  100% {
    background-color: rgb(0 0 0 / 0.05);
  }
}

@media (prefers-color-scheme: dark) {


  @keyframes skeleton-loading {
    0% {
      background-color: rgb(255 255 255 / 0.2);
    }
    100% {
      background-color: rgb(255 255 255 / 0.1);
    }
  }
}


@layer components {
  .btn-primary {
    @apply py-2 px-6 bg-orange-500 text-white cursor-pointer font-semibold rounded-md shadow-md hover:bg-orange-700 focus:outline-none focus:ring focus:ring-orange-400 focus:ring-opacity-75;
  }
}
